---
interface Props {
    customCss: String;
}
const { customCss } = Astro.props;
---

<div class={`text-teal flex flex-row${customCss}`}>
    <i class="ri-user-voice-line ri-md"></i><span
        class="text-sm pl-2 text-justify font-body"
    >
        Feedback, suggestions, or wanna get in touch? <span class="border-b-2 border-dashed border-teal font-bold"><a href="mailto:rpartha1@pm.me">I'd love to hear about it</a></span>.

    </span>
</div>
<div class={`text-teal mt-2 flex flex-row${customCss}`}>
    <i class="ri-copyright-line ri-md"></i>
    <span class="text-sm pl-2 text-justify font-body whitespace-nowrap">
        <span id="current-year"></span> RAMASESHAN PARTHASARATHY
        <a href="#"><i class="ri-arrow-up-line md:ri-lg max-sm:ri-xs"></i></a>
    </span>
</div>

<script>
    let currentYearElement = document.getElementById('current-year');
    if (currentYearElement) {
        currentYearElement.textContent = new Date().getFullYear().toString();
    }
</script>
