<div class="rounded overflow-hidden">
    <div class="">
        <div class="inline-flex items-center flex-row">
            <i class="text-link ri-map-pin-2-line ri-md mr-1"></i>
            <span class="font-sans text-sm text-header content-center">
                Location<br/>
                <p class="text-subText font-sans text-sm">Chesterfield, NJ</p>
            </span>
        </div>
    </div>
</div>
