---
interface Props {
    boxText: String;
}
const { boxText } = Astro.props;
---

<div class="note bg-boxBG border-t-4 border-infoBorder rounded-b px-4 py-2 shadow-md" role="alert">
  <div class="flex">
    <div class="py-1 inline-flex items-center flex-row">
     <i class="ri-information-2-line ri-1x text-infoIcon"></i><p class="font-sans font-semibold text-sm text-infoIcon">{boxText}</p>
   </div>
  </div>
</div>
