---
interface Props {
    boxText: String;
}
const { boxText } = Astro.props;
---

<div class="note bg-boxBG border-l-[0.45em] border-infoBorder px-2 py-2 shadow-md" role="alert">
  <div class="flex">
    <div class="py-1 inline-flex items-center flex-row">
     <!--<i class="ri-information-2-line ri-1x text-infoIcon"></i>-->
     <p id = "box" class="font-sans font-semibold text-sm text-infoIcon content-center">{boxText}</p>
   </div>
  </div>
</div>
