---
interface Props {
    title: String;
    code: String;
}
const { title, code } = Astro.props;
---

<figure data-rehype-pretty-code-figure>
    <!--<div style="position: relative;">

    </div>-->
     <figcaption data-rehype-pretty-code-title="" data-language="mermaid" data-theme="" tabindex="0">
            {title}.mermaid
    </figcaption>
    <pre style="background-color:hsl(240, 3%, 8%);color:#F5F5F5" data-raw-mermaid={code}>
        <code>
            <slot/>
        </code>
    </pre>
</figure>
