---
import { getReadingTime } from '../utils/reading-time';
import type { CollectionEntry } from 'astro:content';

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const readingTime = getReadingTime(post.body);
---

<span class ="text-subText">
    <i class="text-link ri-time-line"></i>
    {readingTime}
</span>
