---
interface Props {
    boxText: String;
}
const { boxText } = Astro.props;
---

<div class="note bg-boxBG border-l-[0.45em] border-starBorder px-2 py-2 mb-3 shadow-md rounded" role="alert">
  <div class="flex">
    <div class="py-1 inline-flex items-center flex-row">
      <!--<i class="ri-star-line ri-1x text-starIcon"></i>-->
      <p id = "box" class="font-sans font-semibold text-sm text-starIcon content-center">{boxText}</p>
    </div>
  </div>
</div>
